<div class="hero">
  <div class="hero-left">
    <h1>Learn. Grow. Succeed.</h1>
    <h2>Your Training Platform</h2>
    <p>Step into the world of knowledge and growth — register now to start your journey.</p>

    <mat-form-field class="search-bar" appearance="outline">
      <mat-label>Search courses by title, description...</mat-label>
      
      <mat-icon matPrefix>search</mat-icon>
      
      <input matInput 
             [(ngModel)]="searchQuery" 
             (input)="onSearch()"
             aria-label="Search courses">
      
      <button mat-icon-button matSuffix *ngIf="searchQuery" (click)="clearSearch()" aria-label="Clear search">
        <mat-icon>close</mat-icon>
      </button>
      
    </mat-form-field>
    <div class="quick-note">
      <small>Tip: Try “C#”, “API”, or “Beginner” — press Enter to search</small>
    </div>
  </div>

  <div class="hero-right">
    <img src="../../../assets/images/home-hero.png" alt="Hero banner" />
  </div>
</div>

<div *ngIf="isLoading" class="page-loader">
  <mat-spinner diameter="60"></mat-spinner>
</div>

<div *ngIf="!isLoading && error && !searchQuery" class="page-error">
  <mat-icon>error_outline</mat-icon>
  <h3>{{ error }}</h3>
</div>

<div *ngIf="!isLoading">

  <section class="category-rows" *ngIf="!searchQuery">
    <div *ngFor="let group of groupedCourses" class="category-row">
      <h2 class="category-title">{{ group.category.name }}</h2>
      <div class="course-carousel">
        <app-course-card *ngFor="let c of group.courses" [course]="c" class="carousel-card"></app-course-card>
      </div>
    </div>
  </section>
  <section class="courses-section" *ngIf="searchQuery">
    <div class="results-header">
      <div *ngIf="isSearching" class="loader">
        <mat-spinner diameter="30"></mat-spinner>
        <span>Searching...</span>
      </div>
      
      <div *ngIf="!isSearching">
        <h3 *ngIf="filteredCourses.length > 0">{{ filteredCourses.length }} course(s) found</h3>
        <h3 *ngIf="filteredCourses.length === 0">No courses found for “{{ searchQuery }}”</h3>
      </div>
    </div>
    
    <div *ngIf="!isSearching && error" class="error">
      {{ error }}
    </div>

    <div class="course-grid" *ngIf="filteredCourses.length > 0">
      <app-course-card *ngFor="let c of filteredCourses" [course]="c"></app-course-card>
    </div>
  </section>
  </div>