<mat-sidenav-container class="dashboard-container">
    <mat-sidenav #sidenav mode="side" [opened]="true" class="sidebar-nav"
    [ngClass]="{'sidebar-collapsed': !isSidebarOpen()}">
        
        <div class="sidebar-header">
            <button mat-icon-button (click)="toggleSidebar()" title="Toggle Sidebar">
                <mat-icon>menu</mat-icon>
            </button>
            <div><h1 class="portal-title" *ngIf="isSidebarOpen()">{{ title }}</h1></div>
             
        </div>

        <mat-nav-list>
            <a mat-list-item *ngFor="let item of navItems" [routerLink]="item.path" routerLinkActive="active">
                <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                <span matListItemTitle *ngIf="isSidebarOpen()">{{ item.label }}</span>
              </a>
          </mat-nav-list>

        <div class="logout-footer">
            <button mat-flat-button color="warn" (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span *ngIf="isSidebarOpen()">Logout</span>
            </button>
          </div>
    </mat-sidenav>

    <mat-sidenav-content class="main-content-wrapper">
        
        <div class="content-router-outlet">
            
            <ng-content></ng-content> 
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>