<h2>Register as Instructor</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name" />
  </div>
  <div>
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password" />
  </div>
  <button type="submit" [disabled]="!registerForm.valid">Register</button>
  <div *ngIf="errorMessage" style="color: red">{{ errorMessage }}</div>
</form>
<p>Already have an account? <a routerLink="/login">Login here</a></p>
